###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [4]:
import pandas as pd

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [6]:
a = pd.read_csv("/content/college_1.csv")

In [7]:
b = pd.read_csv("/content/college_2.csv")

In [ ]:
a.info(),b.info()

In [32]:
a["python"] = a["python"].astype(int)
a["mysql"] = a["mysql"].astype(int)

In [ ]:
a.info()

In [43]:
merg = pd.merge(a,b,how= 'outer')

In [92]:
merg.shape

(119, 9)

In [48]:
order = merg.pop('computational_thinking')
merg.insert(3,'computational_thinking',order) # same did for pytho_en column

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [53]:
merg.columns

Index(['Name', 'python', 'mysql', 'computational_thinking', 'python_en',
       'Previous Geekions', 'CodeKata Score', 'Department', 'Rising'],
      dtype='object')

In [56]:
df = merg

In [58]:
exceed = df[df['CodeKata Score'] > 15000]

In [59]:
exceed.to_csv("Exceeded expectations.csv")

In [61]:
reach = df[df['CodeKata Score'].between(10000,15000)]
reach.to_csv("Reached_expectation.csv")

In [62]:
need_impr = df[df['CodeKata Score'].between(7000,10000)]
need_impr.to_csv("Need_improvement.csv")

In [63]:
unsat = df[df['CodeKata Score']< 7000]
unsat.to_csv("unsatisfactory.csv")

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [71]:
df.columns

Index(['Name', 'python', 'mysql', 'computational_thinking', 'python_en',
       'Previous Geekions', 'CodeKata Score', 'Department', 'Rising'],
      dtype='object')

In [72]:
df[["Previous Geekions","CodeKata Score"]].mean()

Previous Geekions    3842.352941
CodeKata Score       4051.764706
dtype: float64

###### No of students participated

In [76]:
df["Name"].count()

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [ ]:
df.loc[df["python"]==100].count() #out of 119, 41 students completed python 100%

In [ ]:
df.loc[df["mysql"]==100].count() #out of 119, 14 students completed mysql 100%

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [85]:
rising_star = df.sort_values(['Rising'],ascending=False)
rising_star.head(3)

,Name,python,mysql,computational_thinking,python_en,Previous Geekions,CodeKata Score,Department,Rising
92,shifak N,58,0,0.0,0.0,5180,8320,Electronics and Electrical Engineering,3140
102,Narasimhan Y L,-1,0,0.0,-1.0,4800,6800,Computer Science and Engineering,2000
86,Ganesh Ramkumar R,-1,24,6.0,55.0,8790,10790,Computer Science and Engineering,2000

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [81]:
top3 = df.sort_values(by=['Previous Geekions'], ascending=False)
top3.head(3)

,Name,python,mysql,computational_thinking,python_en,Previous Geekions,CodeKata Score,Department,Rising
0,A.Dharani,82,20,NaN,NaN,24500,24500,Computer Science and Engineering,0
1,V.JEEVITHA,82,20,NaN,NaN,21740,21740,Computer Science and Engineering,0
2,HEMAVATHI.R,100,100,NaN,NaN,19680,19680,Computer Science and Engineering,0

###### Department wise codekata performence (pie chart)

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)